body{
  background-color: black;
}
.introduce{
  border-width: 2px;
  border-radius: 20px;
  margin: 20px;
  border-style: solid;
  border-color: rgb(255,255,255);
  padding-bottom: 10px;
  padding-left: 10px;
} 
.title{
  font-size: 65px;
  font-weight:1000;
  color:white;
}
.role{
  font-size:20px;
  color:rgb(255,255,255);
  font-weight:bold;
}
.work,
.resume{
  color:rgb(0, 0, 0);
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  font-size: 15px;
  border: none;
  font-family: Arial, sans-serif;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top:20px;
  cursor: pointer;
}
.resume{
  background-color: rgb(2, 4, 8);
  color:rgb(255,255,255);
  border-color: rgb(255,255,255);
  border-style: solid;
  border-width: 2px;
  margin-left: 10px;
}